:root {
    --black: #2E2C2C;
    --yellow: #FFDE59;
    --gold: #F8A70E;
    --brown: #9B6941;
    --white: #F6F6E4;
    --lightgray: #7B7B7B;
}

.fredoka-normal {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
html {
    height: 100%;
}

body {
    background: linear-gradient(180deg, var(--gold) 0%, var(--black) 80%);
    color: var(--white);
    font-family: "Fredoka", sans-serif;
    background-repeat: no-repeat;

}

body a {
    color: var(--white);
}

h1 {
    color: var(--yellow);
}

nav ul li {
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
    margin-bottom: 2em;
}

.index-main {
    width: 85%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
} 

.column1 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;     
}

.column2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3;     
}

.currently-playing {
    border-radius: 50%;
    width: 20em;
    height: 20em;
    background-color: var(--yellow);
}

.current-artist {
    text-transform: lowercase;
}

.current-artist h1 {
    color: var(--white);
    text-decoration: none;
    font-size: 2em;
    margin-bottom: 0;
}

.current-title h2 {
    color: var(--lightgray);
    font-size: 1.5em;
    font-weight: 200;
    margin-top: 0;
}

.fa-solid {
    margin-left: 1em;
}

.time {
    text-align: center;
    width: 20em;
    margin-top: 1em;
}

/* borrowed code from codepen for this rounded bar */
.progress{
    /* margin: 100px auto; */
    /* text-align: center; */
    width: 45%;
    /* background: white; */
    transform: rotate(180deg);
    position: relative;
    margin-top: -10em;
    margin-left: 7.75em;
  }
  .barOverflow{ /* Wraps the rotating .bar */
    position: relative;
    overflow: hidden;
    width: 25em; height: 12em; /* Half circle (overflow) */
    /* background: blue; */
  }
  .bar{
    /* position: absolute; */
    margin: auto;
    width: 24em; height: 24em; 
    border-radius: 50%;
    box-sizing: border-box;
    border: 18px solid #FEBE6E;     
    border-left-color: #9B6941;
    border-bottom-color: #9B6941;
    transform: rotate(90deg);  /* (per * 1.8) - 45 */
  /* Exa: 50% - (50 * 1.8) - 45 = 45deg */
  /* background: pink; */
  }
  